<h1>Admin::Categories#index</h1>
<p>Find me in app/views/admin/categories/index.html.erb</p>

<% if flash[:set_category_error] %>
    <%= flash[:set_category_error] %>
<% end %>
<!--<a href="" class="btn.btn-primary">PRUEBA DE COLOR/-->
<%# <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Left</button>
  <button type="button" class="btn btn-warning">Middle</button>
  <button type="button" class="btn btn-success">Right</button>
</div>

 #<div class="alert alert-primary" role="alert"> 
 # A simple primary alert—check it out!
#</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div> %>

